# Coursera Capstone

Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import numpy as np 
import pandas as pd 
from bs4 import BeautifulSoup
import requests

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

In [3]:

class Scrapy:
       
        def parse_url(self, url):
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'lxml')
            return [(self.parse_html_table(table))\
                    for table in soup.find_all('table', class_="wikitable sortable")]  
    
        def parse_html_table(self, table):
            n_columns = 0
            n_rows=0
            column_names = []
            for row in table.find_all('tr'):
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 0:
                        n_columns = len(td_tags)
                        
                th_tags = row.find_all('th') 
                if len(th_tags) > 0 and len(column_names) == 0:
                    for th in th_tags:
                        column_names.append(th.get_text())
    
            if len(column_names) > 0 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
    
            columns = column_names if len(column_names) > 0 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 0
            for row in table.find_all('tr'):
                column_marker = 0
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 0:
                    row_marker += 1
                    
            for col in df:
                try:
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
            
            return df

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
hp = Scrapy()
table = hp.parse_url(url)[0] 
table.head(10)

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M6A        North York  Lawrence Heights\n
6      M6A        North York    Lawrence Manor\n
7      M7A  Downtown Toronto      Queen's Park\n
8      M8A      Not assigned      Not assigned\n
9      M9A      Queen's Park      Not assigned\n

# Remove the "Not assigned

In [5]:
table = table[table.Borough != 'Not assigned']
table.head(10)

   Postcode           Borough     Neighbourhood\n
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M6A        North York  Lawrence Heights\n
6       M6A        North York    Lawrence Manor\n
7       M7A  Downtown Toronto      Queen's Park\n
9       M9A      Queen's Park      Not assigned\n
10      M1B       Scarborough             Rouge\n
11      M1B       Scarborough           Malvern\n
13      M3B        North York   Don Mills North\n

#### Clean up

In [6]:
print(list(table))
table = table.replace('\n',' ', regex=True)
table.head(10)

['Postcode', 'Borough', 'Neighbourhood\n']

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [7]:
table = table[table['Neighbourhood\n'] != 'Not assigned']
table.head(10)

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

#### Groupby Nieghborhood Postcodes

In [8]:

df = table.groupby(['Postcode','Borough'])['Neighbourhood\n'].apply(lambda x: ", ".join(x.astype(str))).reset_index()
df = df.sample(frac=1).reset_index(drop=True)
df.head(10)

,Postcode,Borough,Neighbourhood
0,M1B,Scarborough,"Rouge , Malvern"
1,M6N,York,"The Junction North , Runnymede"
2,M1L,Scarborough,"Clairlea , Golden Mile , Oakridge"
3,M7R,Mississauga,Canada Post Gateway Processing Centre
4,M1V,Scarborough,"Agincourt North , L'Amoreaux East , Milliken ,..."
5,M9L,North York,Humber Summit
6,M2K,North York,Bayview Village
7,M3B,North York,Don Mills North
8,M4K,East Toronto,"The Danforth West , Riverdale"
9,M5X,Downtown Toronto,"First Canadian Place , Underground city"

In [9]:
print(df.shape)

(103, 3)

### END Part 1
###### Geospacial Data

In [10]:

url2="http://cocl.us/Geospatial_data"
geo_data=pd.read_csv(url2)
geo_data.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [11]:
print(list(df))
print(list(geo_data))

full_table = df.set_index('Postcode').join(geo_data.set_index('Postal Code'))
full_table = full_table.sample(frac=1).reset_index(drop=True)
full_table.head(20)

['Postcode', 'Borough', 'Neighbourhood\n']
['Postal Code', 'Latitude', 'Longitude']

,Borough,Neighbourhood,Latitude,Longitude
0,Scarborough,"Birch Cliff , Cliffside West",43.692657,-79.264848
1,Downtown Toronto,St. James Town,43.651494,-79.375418
2,North York,York Mills West,43.752758,-79.400049
3,York,"The Junction North , Runnymede",43.673185,-79.487262
4,Etobicoke,"Kingsway Park South West , Mimico NW , The Que...",43.628841,-79.520999
5,North York,Humber Summit,43.756303,-79.565963
6,North York,Willowdale South,43.770120,-79.408493
7,Central Toronto,"The Annex , North Midtown , Yorkville",43.672710,-79.405678
8,North York,Downsview Central,43.728496,-79.495697
9,Scarborough,"Dorset Park , Scarborough Town Centre , Wexfor...",43.757410,-79.273304
10,Scarborough,Upper Rouge,43.836125,-79.205636
11,West Toronto,"Brockton , Exhibition Place , Parkdale Village",43.636847,-79.428191
12,Etobicoke,Northwest,43.706748,-79.594054
13,Scarborough,"Clarks Corners , Sullivan , Tam O'Shanter",43.781638,-79.304302
14,North York,Don Mills North,43.745906,-79.352188
15,North York,"Northwood Park , York University",43.767980,-79.487262
16,Etobicoke,"Albion Gardens , Beaumond Heights , Humbergate...",43.739416,-79.588437
17,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,43.646435,-79.374846
18,East Toronto,Studio District,43.659526,-79.340923
19,Downtown Toronto,"Adelaide , King , Richmond",43.650571,-79.384568